*.tfvars
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform*

data/*
src/data_collection/blink_auth.json

# train data
src/train/teddy/images/*
src/train/teddy/labels/*
runs/*
*.pt

venv/
.env

.DS_Store